$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/"

@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap'


.scrollable
  overflow-x: scroll

.integration-submit
  margin-top: 50px
  min-height: 40px
.text-center
  text-align: center




.bs-docs-booticon-outline
  background-color: transparent
  border: 1px solid #cdbfe3
.bs-docs-masthead .bs-docs-booticon
  margin: 0 auto 30px

.bs-docs-booticon-lg
  width: 200px
  height: 70px
  font-size: 108px
  line-height: 140px

.bs-docs-booticon
  display: block
  font-weight: 500
  color: #fff
  text-align: center
  cursor: default
  background-color: #563d7c
  border-radius: 5%





.btn-outline-inverse
  color: #fff
  background-color: transparent
  border-color: #cdbfe3



.background-purple
  background-color: #6f5499
  background-image: -webkit-gradient(linear,left top,left bottom,from(#563d7c),to(#6f5499))
  background-image: -webkit-linear-gradient(top,#563d7c 0,#6f5499 100%)
  background-image: -o-linear-gradient(top,#563d7c 0,#6f5499 100%)
  background-image: linear-gradient(to bottom,#563d7c 0,#6f5499 100%)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0)
  background-repeat: repeat-x
  height: 500px

.browsehappy
  margin: 0.2em 0
  background: #ccc
  color: #000
  padding: 0.2em 0


.thumbnail
  height: 200px

  img.pull-right
    width: 50px
