<br />
<div class="container">
  <div ng-repeat="shelter in shelters">
    <div class="col-sm-10">
      <a ui-sref="pets.index({ shelterUrlId: shelter.shelter.url_id })">
        <h3>{{shelter.shelter.name}}</h3>
      </a>
      <div class="col-sm-8 col-xs-12">
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>ID</td>
              <td>{{ shelter.shelter.id }}</td>
            </tr>
            <tr>
              <td>Name</td>
              <td>{{ shelter.shelter.name }}</td>
            </tr>
            <tr>
              <td>Street</td>
              <td>{{ shelter.shelter.address1 }}</td>
            </tr>
            <tr>
              <td>Location</td>
              <td>{{ shelter.shelter.city }}, {{ shelter.shelter.state }} {{ shelter.shelter.zip }}</td>
            </tr>
            <tr>
              <td>Phone</td>
              <td>{{ shelter.shelter.phone }}</td>
            </tr>
            <tr>
              <td>Email</td>
              <td>{{ shelter.shelter.email }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
